       .navbar{
        background-color: #458cff;
        width:100%;
        overflow: hidden;
        font-family:"Arial Black", Gadget, sans-serif;
      }
      
      .active {
        background-color:#3d80eb;;
      }
      
      .navbar a {
        color: white;
        font-size: 24px;
        text-decoration: none;
        padding:16px;
        float:left;
      }
      
      .links {
        font-family:"Arial Black", Gadget, sans-serif;
        background-color: #458cff;
        color: white;
        float: right;
        text-decoration: none;
        font-size: 24px;
      }

      .morelinks {
        color: white;
        font-size: 24px;
        text-decoration: none;
        padding:16px;
      }

      .navbar a:hover, .morelinks:hover {
        background-color: #3d80eb;
      }

      .dropdown:hover .dropdown-content {
        display:block;
      }

      .dropdown-content {
        position: absolute;
        z-index:  1;
        display:none;
        background-color: #458cff;
        font-family:"Arial Black", Gadget, sans-serif;
      }

      .dropdown {
        font-family:"Arial Black", Gadget, sans-serif;
        background-color: #458cff;
        color: white;
        float: right;
        text-decoration: none;
        font-size: 24px;

      }

      .dropdown-content a{
        float: none;
        display:block;
      }
    
    .dog {
        width:40px;
        height:40px;
        border-radius:50%;
        padding:5px;
        display:inline;
        vertical-align:middle;
    }
    
    .portrait {
        width:28%;
        float:left;
}
    
    .about-text {
        text-align:left;
        font-size:20px;
        padding-left:2.3%;
        font-family:"Arial Black", Gadget, sans-serif;
        width:45%;
        display:inline-block;
        margin-left:15px;
    }
    

    table {
        width:100%;
    }
    
    .column1{
        height:40%;
        float:left;
        padding-left:10%
    }
    
    .column2 {
        height:40%;
        margin-left:30%;
    }
    
    .column3 {
        height:40%;
        float: right;
        padding-right:10%;
    }
    
    .spacerow {
        height:100%;
        padding-top:50px;
        color:white;
        font-size:100px;
    }
    
    .navbuttons {
        margin-right:10px;
        padding-right:20px;
        background-color:#458cff;
        display:inline-block;
        text-align: right;
        color:white;
        font-size:75%;
        font-family:"Arial Black", Gadget, sans-serif;
    }